body {
    background-image: url(./sky.jpg);
    background-size: cover;
}

.github-img-container img {
    max-width: 30px;
}

.parent-weather {
    height: 250px;
}

.first-info-weather div:first-child img {
    max-width: 100px;
}

.first-info-weather ul {
    list-style: none;
    padding: 0%;
}

@media (max-width: 768px) { 
    .first-info-weather {
        flex-direction: column !important;
    }
}